@import url("utils/spacing.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

.card {
    width: 100%;
    /* background-color: red; */
    padding: 1rem;
    border-radius: .79em;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.072);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: 33.3333%;
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}